@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "GTWalsheim";
    src: local("GTWalsheim"),
    url('GT-Walsheim-LC-Regular.ttf') format("truetype");
}
html {
    font-family: "GTWalsheim";
    @apply text-black
}
@layer base {
    .form-auth-input {
        @apply border-black border py-2 px-4 rounded-full
    }

    .black-btn-hover {
        @apply hover:opacity-60 transition duration-150 ease-out
    }

    .white-btn-hover {
        @apply hover:bg-slate-400 transition duration-150 ease-out
    }

    /* .candidate-radio-btn {} */

    .radio-btn {
        @apply hover:opacity-50 duration-150 ease-out text-2xl inline max-md:text-xl
    }


    .header-btn {
        @apply px-8 pt-3 text-xl font-bold mr-10 rounded-t-3xl pb-0.5 hover:opacity-50 duration-300 ease-out bg-ultra-dark-purple text-white pb-3;
        @apply max-lg:rounded-3xl max-lg:text-base max-lg:px-3 max-lg:mr-3 max-sm:text-xs;
            /*pb может быть плохо*/

    }

    .header-btn-active {
        @apply bg-white text-black;

    }

    .subheader {
        @apply flex justify-center bg-header items-end w-full h-44 max-lg:h-20 max-lg:items-center
    }

    .black-btn {
        @apply py-2 px-4 rounded-full text-white bg-black text-xl hover:cursor-pointer;
        @apply hover:opacity-60 transition duration-150 ease-out;
        @apply max-md:px-2 max-sm:text-base max-lg:text-lg;
    }

    .card-style {
        @apply p-10 shadow-slate-500 shadow-xl rounded-3xl border border-black;
        @apply max-xl:p-5;
    }

    .invite-button {
        @apply py-5 px-10 bg-black text-white rounded-3xl max-lg:px-3;
    }

    .category {
        @apply text-2xl font-semibold;
        @apply max-xl:text-xl;
    }

    .style-flex-col {
        @apply flex flex-col h-full place-content-center;
    }

    .yandex-container {
        height: 700px;
        width: 700px;

        @media (max-width: 1280px) {
            height: 500px;
            width: 500px;
        }
        @media (max-width: 640px) {
            height: 600px;
            width: 300px;
        }
    }

        .yandex-balloon {
            width: 350px !important;
            height: 500px !important;
            overflow-x: hidden;
            /* @media (max-width: 640px) {
                width: 150px;
                height: 200px;
            } */
        }

        .adaptive-flex-col {
            @apply flex flex-col items-center;
        }

        .text-height {
            line-height: 1.2;
            height: 5.8em;
            word-break: break-word;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        /*.ymaps-2-1-79-balloon {*/
        /*    width: 800px !important;*/
        /*    height: 800px !important;*/
        /*}*/

    }